.footer{
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 37px 5px;
    }
    .social__item{
        margin-right: 20px;
    }
    .social__item:last-child{
        margin-right: 0;
    }
}
.footer__copyright{
    background: #EFEFEF;
}