*{
    max-width: 1920px;
}

body, html{
    height: 100%;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a{
    font-style: normal;
    font-size: 14px;
    color: #000;
}

h1{
    font-size: 48px;
    font-weight: 700;
}

h3{
    font-weight: 500;
}

address{
    font-style: normal;
}

.container{
   max-width: 1110px;
   margin: 0 auto;
   height: 100%;
}

.button{
    background-color: #fff;
    border: 2px solid #66C05D;
    border-radius: 40px;
    padding: 12px 26px;

    transition: .1s linear;
}

.button:hover{
    background-color: #66C05D;

    color: #fff;
}

.button__green{
    padding: 12px 26px 13px 27px;
    letter-spacing: 0.05em;
    background-color: #66C05D;
    border: 2px solid #fff;
    color: #fff;

    transition: .1s linear;
}

.button__green-hover:hover{
    background-color: #fff;

    color: #000;
}