.menu {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  height: 100%;
}
.menu__list {
  margin-top: 17px;
}
.menu__list li {
  display: inline;
}

.list__item {
  margin: 17px 30px 17px 0px;
}
.list__item:last-child {
  margin-right: 0;
}
