.special-offers__list {
  display: flex;
  flex-wrap: wrap;
}
.special-offers__list .list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 0 30px 0 0;
}
.special-offers__list .item__img {
  margin-top: 25px;
  margin-bottom: 20px;
}
.special-offers__list .item__description {
  margin: 20px 30px;
}
.special-offers__list .item__price {
  font-size: 21px;
  font-weight: 500;
  margin: 20px 0;
}
.special-offers__list .button {
  padding: 9px 40px;
  margin-bottom: 25px;
}

.special-offers__wrapper {
  margin-bottom: 100px;
}

.special-offers {
  background: #EFEFEF;
  padding-bottom: 132px;
}
.special-offers__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  padding-top: 80px;
  margin-bottom: 16px;
}
